<h1>Favoritos</h1>
<div *ngIf = "productoEnFavoritos.length === 0">
    <p>No hay productos en el Carrito</p>
</div>
<table class="table">
    
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor  ="let item of productoEnFavoritos;let i = index">
            
            <td><img [src]="item.producto.imagen" alt="{{item.producto.Nombre}}" style="width: 50px; height: 50px;"></td>
            <td> {{item.producto.Nombre}}</td>
            <td> {{item.producto.descripcion}}</td>
            <td> {{item.producto.precio  }}</td>
            
            <button (click)="eliminarProducto(item.producto.id)" class="button">
                <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
            </button>
              
        </tr>
    </tbody>
</table>
