<h2 class="text-center mb-4">Formulario de compra</h2>

<form [formGroup]="formularioCompra" (ngSubmit)="finalizarCompra()" class="mx-auto" style="max-width: 600px;">
    <!--Campos del formulario-->
    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <label for="Nombre" class="form-label fw-semibold">Nombre <samp class="text-danger">*</samp></label>
            <div class="input-group">
                <samp class="input-group-text"><i class="bi bi-person-fill"></i></samp>
                <input id="Nombre" formControlName="nombre" class="form-control" placeholder="Tu nombre completo" />
            </div>
            <div *ngIf="formularioCompra.get('nombre')?.touched && formularioCompra.get('nombre')?.invalid"
                class="form-text text-danger">
                El nombre es obligatorio
            </div>
        </div>

        <div class="row g-3 mb-3">
            <label for="telefono" class="form-label fw-semibold">Telefono <samp class="text-danger">*</samp></label>
            <div class="input-group">
                <samp class="input-group-text"><i class="bi bi-telephone-fill"></i></samp>
                <input id="telefono" formControlName="telefono" class="form-control"
                    placeholder="Ej: +54 9 11 1234 5678" />
            </div>
            <div *ngIf="formularioCompra.get('telefono')?.touched && formularioCompra.get('telefono')?.invalid"
                class="form-text text-danger">
                El Telefono es obligatorio
            </div>
        </div>

        <div class="mb-6">
            <label for="correo" class="form-label fw-semibold">correo <samp class="text-danger">*</samp></label>
            <div class="input-group">
                <samp class="input-group-text"><i class="bi bi-envolope-fill"></i></samp>
                <input id="correo" formControlName="correo" type="email" class="form-control"
                    placeholder="Ej: ejemplocorre@correo.com" />
            </div>
            <div *ngIf="formularioCompra.get('correo')?.touched && formularioCompra.get('correo')?.invalid"
                class="form-text text-danger">
                El correo es obligatorio
            </div>
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label fw-semibold">direccion <samp class="text-danger">*</samp></label>
            <div class="input-group">
                <samp class="input-group-text"><i class="bi bi-geo-alt-fill"></i></samp>
                <input id="direccion" formControlName="direccion" class="form-control"
                    placeholder="calle, numero, piso, dpto" />
            </div>
            <div *ngIf="formularioCompra.get('direccion')?.touched && formularioCompra.get('direccion')?.invalid"
                class="form-text text-danger">
                La direccion es obligatorio
            </div>
        </div>

        <div class="row g-3 mb-3">

                    <label for="ciudad" class="form-label fw-semibold">Ciudad <span class="text-danger">°</span></label>
                    <input id="ciudad" formControlName="ciudad" class="form-control" placeholder="Ej:Neuquen" />
                    <div *ngIf="formularioCompra.get('ciudad')?.touched && formularioCompra.get('ciudad')?.invalid"
                        class="form-text text-danger">
                        La ciudad es obligatorio
                    </div>
                </div>

            <div class="col-md-4">
                <label for="provincia" class="form-label fw-semibold">Provincia <samp
                        class="text-danger">*</samp></label>
                <input id="provincia" formControlName="provincia" class="form-control" placeholder="Ej: Buenos Aires" />
                <div *ngIf="formularioCompra.get('provincia')?.touched && formularioCompra.get('provincia')?.invalid"
                    class="form-text text-danger">
                    La provincia es obligatorio
                </div>
            </div>

            <div class="col-md-4">
                <label for="codigoPostal" class="form-label fw-semibold">Codigo postal <samp
                        class="text-danger">*</samp></label>
                <input id="codigoPostal" formControlName="codigoPostal" class="form-control"
                    placeholder="Ej: RB 8324" />
                <div *ngIf="formularioCompra.get('codigoPostal')?.touched && formularioCompra.get('codigoPostal')?.invalid"
                    class="form-text text-danger">
                    La codigo postal es obligatorio
                </div>
            </div>
        
    </div>
    <div class="mb-3">
        <label for="metodoPago" class="form-label fw-semibold">Metod de pago <span class="text-danger">*</span></label>
        <select id="metodoPago" formControlName="metodoPago" class="form-select">
            <option value="" disabled selected>Seleccione metodo de pago</option>
            <option value="tarjeta">Tarjeta de credito/debito</option>
            <option value="efectivo">Efectivo</option>
            <option value="tranferencia">Transferencia Bancaria</option>
        </select>
        <div *ngIf="formularioCompra.get('metodoPago')?.touched && formularioCompra.get('metodoPago')?.invalid"
            class="form-text text-danger">
            Debe seleccionar el metodo de pago

        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center my-4">
        <div>
            <p> Envio: ${{envio.toFixed(2)}}</p>
            <p> <strong>Total a Pagar :{{calcularTotal()}}</strong></p>
        </div>
        <button type="submit" class="btn btn-primary">finalizar Compra</button>
    </div>
</form>

<!--Model compra-->
<div *ngIf="mostrarModal" class="modal show d-block" tabindex="-1" role="dialog" style="background-color: black;">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 90vw; max-height: 90vw;">
        <div class="modal-content" style="height: 90vh;">
            <div class="modal-header">
                <h5 class="modal-title">Factura PDF</h5>
                <button type="button" class="btn-close" aria-label="Cerrar" (click)="cerrarModal()">
                </button>
            </div>
            <div class="modal-body p-0" style="height: 80vh;">
                <iframe *ngIf="pdfSrc" [src]="pdfSrc" style="width: 100%; height: 100%; border: none"></iframe>
            </div>
            <div class="mdal-footer">
                <button type="button" class="btn btn-success" (click)="imprimirPDF()"> 
                    Imprimir
                </button>
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()"> 
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>