<!--<div [ngClass]="{ 'activo': usuario.activo, 'inactivo': !usuario.activo}">
    {{ usuario.nombre }}
</div>


<div class="card-container">
<div *ngFor="let producto of productos; let i = index" class="card">
    <div>
    
        <img src="{{ producto.img }}" class="card img">
        <div class="card-body">
            <h5 class="card-title">{{ i + 1 }}. {{ producto.nombre }}</h5>
            <p class="card-text">Precio: {{ producto.precio }}</p>
            <a href="#" class="btn btn-primary">Agregar al Carrito</a>
        </div>
   
</div>
</div>
</div>-->

<h1>Productos</h1>
<div class="card-container">
    <ng-container *ngIf="Productos && Productos.length">
        <ng-container *ngFor="let producto of Productos">
            <div *ngIf ="producto.disponibilidad" class="card">
                <img [src="producto.imagen" alt="{{producto.Nombre}}" class="product_image">
                <h2>{{producto.Nombre}}</h2>
                <p>{{producto.descripcion}}</p>
                <p>Precio:{{producto.precio}}</p>
                <button type="button" class="btn btn-outline-primary" (click)="agregar(producto)">agregar al Carrito</button>
            </div>
        </ng-container>
    </ng-container>
</div>