/*estilos generales*/
body{
    background-color: aqua;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

/*contenedorde las tarjetas*/
.card-container{
    display: flex;
    justify-content: center;/*centrar horizontalmente*/
    gap: 20px;/*es el espacio entre las tarjetas*/
    flex-wrap: wrap;/*permite que se acomoden en pantallas chicas*/
    padding: 20px;
}

/*estilos para la tarjeta*/
.card{
    width: 18rem;
    background-color: rgb(9, 112, 143);
    color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    transition: trasform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);

}

/*efecto hover en la tarjeta*/
.card:hover{
    transform: scale(1.05);
    box-shadow:  0 8px 16px rgba(255, 255, 255, 0.2);;
}

/*imagen dentro de la tarjeta*/
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*boton estilizado*/
.card .btn{
    background-color: rgb(8, 146, 170);
    color: chartreuse;
    border: none;
    transition: background 0.3s ease-in-out;
}

.card .btn:hover{
    background-color: rgb(1, 243, 74);
}

/*responsabilidadpara pantalla chica*/
@media(max-width:600ps){
    .card-container{
        flex-direction: column;/*cambia a columna*/
        align-items: center;/*centra pantalla chica*/
    }
}