<h1>Carrito de Compras</h1>
<div *ngIf = "productosEnCarrito.legth === 0">
    <p>No hay productos en el Carrito</p>
</div>
<table class="table">
    <thead>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Acciones</th>
    </thead>
    <body>
        <tr *ngFor  ="let item of productosEnCarrito;let i = index">
            <td><img [src]="item.producto.imagen" alt="{{item.producto.nombre}}" style="width: 50px; height: 50px;"></td>
            <td> {{item.producto.nombre}}</td>
            <td> {{item.producto.descripcion}}</td>
            <td> {{item.producto.precio | currency }}</td>
            <td>
                 <button (click)="quitarCantidad(i)">-</button>
                 {{item.cantidad}}
                 <button (click)="agregarCantidad(i)">+</button>
            </td>
            <td>
                <button (click)="eliminarProducto(item.producto.id)">Eliminar</button>
            </td>
        </tr>
    </body>
</table>
<button (click)="realizarCompra()" class="btn btn-success">Realizar Compra</button>