<h1 class="text-center my-4">Carrito de Compras</h1>

<div *ngIf="productoEnCarrito.length === 0" class="alert alert-warning text-center">
    <p>No hay productos en el Carrito</p>
</div>

<div *ngIf="productoEnCarrito.length > 0" class="container">
<table class="table table-hover table-bordered align-middle text-center">
    <thead class="table-dark">
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productoEnCarrito;let i = index">
            <td><img [src]="item.producto.imagen" alt="{{item.producto.Nombre}}" class="img-thumbnail" style="width: 70px; height: 70px;"></td>
            <td class="fw-bold"> {{item.producto.Nombre}}</td>
            <td> {{item.producto.descripcion}}</td>
            <td> {{item.producto.precio }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Cantidad">
                <button class="btn btn-outline-danger btn-sm" (click)="quitarCantidad(i)">-</button>
                <span class="px-2">{{item.cantidad}}</span>
                <button class="btn btn-outline-success btn-sm" (click)="agregarCantidad(i)">+</button>
                </div>
            </td>
            <button class="btn btn-outline-danger btn-sm" (click)="eliminarProducto(item.producto.id)" class="button">
                <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
              </button>

            <!--<td>
                <button (click)="eliminarProducto(item.producto.id)">Eliminar</button>
            </td>-->
        </tr>
    </tbody>
</table>
<div class="text-end mt-4" *ngIf="productoEnCarrito">
    <h4 class="fw-bold">Total : {{calcularTotal()}}</h4>
    <button class="btn btn-primary mt-2" (click)="irAFormularioCompra()">
        <i class="bi bi-cart-check">Realizar Compra</i>
    </button>
</div>
</div>