<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://dcdn-us.mitiendanube.com/stores/001/716/742/themes/style/1-slide-1728392261953-4005664138-0c3d0cbdda9d3ed5080b1b8f4a4308961728392262-1920-1920.png?803119303" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://dcdn-us.mitiendanube.com/stores/001/716/742/themes/style/1-slide-1724080025864-2658868602-a8a88117e24375c622037c91d54a98401724080032-1920-1920.png?803119303" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://dcdn-us.mitiendanube.com/stores/001/716/742/themes/style/1-slide-1724080025865-842460047-afc0a1deeb8b43059684e2ab7eefe2111724080033-1920-1920.png?803119303" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://dcdn-us.mitiendanube.com/stores/001/716/742/themes/style/1-slide-1724080025865-7587936628-f7fed372a9f053f39a6ae3246b12b8b81724080035-1920-1920.png?803119303" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>